@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
  font-family: 'Cerebri Sans Pro Bold';
  src: url('../fonts/CerebriSansPro-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('../fonts/CerebriSansPro-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0 !important;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}