@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }
}

.bg-indigo {
    background: url('../../assets/img/register/indigo.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo-position {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-position img {
    width: 100px;
}

.splash-image {
    width: 300px;
}

.bg-indigo h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}

.bg-indigo h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
}

.bg-indigo p {
    max-width: 374px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160.7%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: #CECECE;
}

.bg-indigo h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160.7%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.bg-indigo h3 span {
    font-weight: 500;
    font-style: italic;
}

.registerarea h1 {
    font-family: 'Cerebri Sans Pro Bold';
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #686868;
    margin-bottom: 20px;
}

.signupemail {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #CF1D58;
    border: 1px solid #CF1D58;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px 2px rgb(207 29 88 / 50%);
    border-radius: 30px;
    padding: 15px 50px;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1024px) {
    .signupemail {
        padding: 15px 20px;
    }
}

.signupemail img {
    width: 50px;
}

.position-social-logo {
    order: 0;
}

.breaking-or {
    font-size: 15px;
}

.breaking-or::before,
.breaking-or::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #C4C4C4;
    width: 150px;
    margin: 0 10px;
    transform: translateY(-0.2rem);
}