@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }
}

.bg-indigo {
    background: url('../../assets/img/register/indigo.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo-position {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-position img {
    width: 100px;
}

.splash-image {
    width: 300px;
}

.bg-indigo h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}

.bg-indigo h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
}

.bg-indigo p {
    max-width: 374px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160.7%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: #CECECE;
}

.bg-indigo h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160.7%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.bg-indigo h3 span {
    font-weight: 500;
    font-style: italic;
}

.registerarea h1 {
    font-family: 'Cerebri Sans Pro Bold';
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #686868;
    margin-bottom: 20px;
}

.signupemail {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #CF1D58;
    border: 1px solid #CF1D58;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 20px 15px 80px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1024px) {
    .signupemail {
        padding: 15px 20px 15px 40px;
    }
}

.registerarea img {
    width: 25px;
}

.signupfacebook {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #1E41BE;
    border: 1px solid #1E41BE;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 20px 15px 80px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1024px) {
    .signupfacebook {
        padding: 15px 20px 15px 40px;
    }
}

.signupgoogle {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 2px rgba(214, 214, 214, 0.5);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 20px 15px 80px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #949494;
}

@media only screen and (max-width:1024px) {
    .signupgoogle {
        padding: 15px 20px 15px 40px;
    }
}

.signuptwitter {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #1DA1F2;
    border: 1px solid #1DA1F2;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 20px 15px 80px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1024px) {
    .signuptwitter {
        padding: 15px 20px 15px 40px;
    }
}

.position-social-logo {
    order: 0;
    margin-right: 10px;
}

.f-logo {
    width: 15px !important;
}

.breaking-or {
    font-size: 15px;
}

.breaking-or::before,
.breaking-or::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #C4C4C4;
    width: 150px;
    margin: 0 30px;
    transform: translateY(-0.2rem);
}

@media only screen and (max-width:1024px) {

    .breaking-or::before,
    .breaking-or::after {
        width: 100px;
        margin: 0 10px;
    }
}

.registerarea h2 {
    font-family: 'Cerebri Sans Pro Bold';
    font-style: normal;
    font-size: 15px;
    color: #686868;
    margin-top: 30px;
}


